<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">My Ballot Example</h1>
  <div *ngIf="!wallet" class="col-lg-6 mx-auto">
    <p>To use this ballot you need to connect a wallet</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        (click)="createWallet()"
        type="button"
        class="btn btn-success btn-lg px-4 gap-3"
      >
        Create Wallet
      </button>
      <button
        (click)="clickImportButton()"
        type="button"
        class="btn btn-info btn-lg px-4 gap-3"
        [disabled]="importFlag"
      >
        Import Wallet
      </button>
      <button type="button" disabled class="btn btn-danger btn-lg px-4 gap-3">
        Connect Wallet
      </button>
    </div>
    <div *ngIf="importToggle" class="mt-4">
      <div class="d-flex justify-content-around">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="mnemonicOrPrivateKey"
            id="mnemonicOrPrivateKey1"
            (click)="setPrivateOrMnemonic('mnemonic')"
          />
          <label class="form-check-label" for="mnemonicOrPrivateKey1">
            Use Mnemonic
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="mnemonicOrPrivateKey"
            id="mnemonicOrPrivateKey2"
            (click)="setPrivateOrMnemonic('private')"
          />
          <label class="form-check-label" for="mnemonicOrPrivateKey2">
            Use Private Key
          </label>
        </div>
      </div>
      <input
        #walletAddress
        class="form-control mt-4"
        type="text"
        placeholder="Provide wallet address here"
      />
      <input
        #privateKeyOrMnemonic
        class="form-control mt-4"
        type="text"
        placeholder="Provide Mnemonic phrase or privat key here"
      />
      <button
        type="button"
        class="btn btn-info btn-lg px-4 gap-3 mt-4"
        (click)="importWallet(walletAddress.value, privateKeyOrMnemonic.value)"
      >
        Import
      </button>
    </div>
  </div>
  <div *ngIf="wallet" class="col-lg-8 mx-auto">
    <p>You are connected to the wallet {{ wallet.address }}</p>
    <p>This application uses token address {{ tokenAddress }}</p>
    <p *ngIf="ballotAddress">
      This application uses ballot address {{ ballotAddress }}
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <div class="card">
        <div class="card-body">My ether balance is: {{ etherBalance }}</div>
      </div>
      <div class="card">
        <div class="card-body">My token balance is: {{ tokenBalance }}</div>
      </div>
      <div class="card">
        <div class="card-body">My voting power is: {{ votePower }}</div>
      </div>
    </div>
    <div *ngIf="ballotAddress" class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
      <div class="card">
        <div class="card-body">Winning proposal index: {{ winningIndex }}</div>
      </div>
      <div class="card">
        <div class="card-body">Winning proposal name: {{ winnerName }}</div>
      </div>
      <div class="card">
        <div class="card-body">Voting target block: {{ targetBlock }}</div>
      </div>
    </div>
    <div class="col-lg-7 mx-auto mb-4">
      <p class="my-4">Claim your tokens here:</p>
      <button
        (click)="claimTokens()"
        type="button"
        class="btn btn-success btn-lg px-4 gap-3"
      >
        Claim Tokens
      </button>
    </div>
    <div *ngIf="!ballotAddress" class="col-lg-7 mx-auto">
      <p class="my-4">Connect to the ballot here:</p>
      <input
        class="form-control mb-4"
        #ballotContractAddress
        type="text"
        placeholder="Paste contract address here"
      />
      <button
        (click)="connectBallot(ballotContractAddress.value)"
        type="button"
        class="btn btn-success btn-lg px-4 gap-3"
      >
        Connect Ballot
      </button>
    </div>
  </div>
</div>
